@{
    ViewData["Title"] = "Home Page";
}

<div id="initial" style="background-color:blue;height:250px;margin-top:10px;padding-top:65px;text-align:center">
    <div class="row" style="color:white">
        <div class="col-md-12">
            <h2>Implementation of Dual Scheme Authentication in Asp.Net Core 2</h2>
        </div>
    </div>
</div>


